html, body {
    height: 100%;
    background-color: #272727;
}

body {
    margin: 0 5px;
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

.video {
    max-width: 100%;
	max-height: calc(97vh);
}

.btn {
    width: 100%;
    min-width: 200px;
    background-color: green;
    color: white;
    min-height: 200px;
}

h1 {
    font-size: 1em;
    font-weight: 300;
    background-color: #4593CF;
    color: #ffffff;
    text-align: center;
    display: block;
    padding: 0;
    margin: 0;
}